@page "/pokedex"

@using WildLifeApp.Data
@inject PokemonService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="display: flex; flex-wrap: wrap;">
    @foreach (var forecast in forecasts)
    {
        <PokemonCard pokemon="forecast"/>
        }
    </div>
}
   

@code {
    private Pokemon[] forecasts;



    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetPokemonList();
    }
}
